<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="task2" translate="label" sortOrder="10">
            <label>Orders</label>
        </tab>
        <section id="order_success" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Details</label>
            <tab>task2</tab>
            <resource>Yash_US9::order_success</resource>
            <group id="details" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Set Order Details</label>
                <field id="delivery_date" translate="label" type="date" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delivery Date</label>
                    <comment>Select a delivery date</comment>
                    <frontend_model>Yash\Task2\Block\Adminhtml\System\Config\Date</frontend_model>
                    <validate>validate-date</validate>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Processing Status</label>
                    <comment>This adds the status of the order</comment>
                </field>
                <field id="instructions" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Instructions</label>
                    <comment>Adds instructions for the delivery</comment>
                </field>
            </group>
        </section>
    </system>
</config>