<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yash_US22::popup"
             title="Popups"
             module="Yash_US22"
             sortOrder="10"
             action="us22/index/index"
             resource="Yash_US22::popup"/>
    </menu>
</config>