<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="Yash_US3_ViewProduct" instance="Yash\US3\Observer\MyObserver" />
        <observer name="Yash_US3_ProductInfo" instance="Yash\US3\Observer\ProductInfoLogger"/>
    </event>

    <event name="controller_front_send_response_before">
        <observer name="Yash_US3_PageLoad" instance="Yash\US3\Observer\PageLoadObserver" disabled="true"/>
    </event>
</config>